<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat GIF a Day</title>
  <style type="text/css">
    #gif {
      height: auto;
      width: 100%;
    }
  </style>
</head>
<body style="margin:0;padding:0;">
  <table width="100%" bgcolor="#042a68" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
    <tr>
      <td align="center">
        <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px;">
          <tr>
            <td>
              <table width="100%" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" style="min-width:100%">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td bgcolor="#042a68" align="center" valign="top">
                                  <h1 style="font-size: 28px; color: #ffffff; text-align: center; font-family: Tahoma, Geneva, sans-serif; font-weight: normal;">
                                    Cat GIF a Day
                                  </h1>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" valign="top" bgcolor="#042a68">
                                  <img id="gif" src="{{ gif }}" style="display: block;" alt="">
                                </td>
                              </tr>
                              <tr>
                                <td align="center" valign="top" style="padding: 20px;">
                                  <p style="font-size: 14px; color: #042a68; text-align: center; font-family: Tahoma, Geneva, sans-serif; font-weight: normal;">
                                    Enjoy your daily cat! You are receiving this email because you subscribed to Cat GIF a Day. 
                                  </p>
                                  <p style="font-size: 14px; color: #042a68; text-align: center; font-family: Tahoma, Geneva, sans-serif; font-weight: normal;">
                                    <br>
                                    <br>
                                    Made with &hearts; by <a href="https://github.com/meganweijiang">Megan Weijiang</a>
                                    <br>
                                  </p>
                                  <p style="font-size: 10px; color: #042a68; text-align: center; font-family: Tahoma, Geneva, sans-serif; font-weight: normal;">
                                    <a href="TK">Unsubscribe</a> to the mailing list.
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td bgcolor="#042a68" style="height: 30px;">
                                  &nbsp;
                                </td>
                              </tr>
                        </table>
                    </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
