.App {
  text-align: center;
  background-color: #042a68;
  min-height: 100vh;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  margin: 0;
  padding: 50px 0;
}

input {
  width: 320px;
  height: 20px;
  border: none;
}

button {
  background: #333333;
  border: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  float: right;
  border-radius: 10px;
}

button:hover {
  background: #222222;
}

span {
  padding: 10px;
  display: inline-block;
}

#loading {
  visibility: hidden;
  width: 20px;
  height: auto;
}

@media (max-width: 767px) {
  input {
    width: 300px;
  }
}