.App {
  text-align: center;
  background-color: #042a68;
  min-height: 100vh;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.outer {
  padding: 20px;
  max-width: 500px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

input {
  width: 100%;
  height: 20px;
  border: none;
}

select {
  border: none;
  width: 80px;
  background-color: #ccdfff;
  height: 20px;
  display: inline;
}

button {
  background: #7ba9f2;
  border: none;
  color: #042a68;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  float: right;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #999999;
  cursor: not-allowed;
  pointer-events:none;
}

button:hover {
  background: #ccdfff;
}

span {
  padding: 10px 0px;
  display: inline-block;
  float: left;
}

a {
  color: #999999;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
}

p {
  margin: 0;
}

form {
  padding: 20px 0 70px 0;
}

.hidden-content {
  padding: 20px;
  height: 100px;
}

#message {
  height: 20px;
}

#loading {
  display: inline-block;
  background: #ccdfff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: relative;

  &:after, &:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%
  }

  &:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 2px solid transparent;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}


.unsub, .go-home {
  font-size: 12px;
}

.select-text {
  display: inline-block; 
  float: none;
}

.select-container {
  display: block;
}

.about {
  padding: 20px;
  font-size: 12px;
  align-self: flex-end;
}

.cat-gif-enter {
  transform: translateY(-60px);
  opacity: 0.01;
}

.cat-gif-enter.cat-gif-enter-active {
  transform: translateY(0px);
  opacity: 1;
  transition: all 500ms ease-in;
}

.hidden-message-exit {
  opacity: 1;
}

.hidden-message-exit.hidden-message-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
