.App {
  text-align: center;
  background-color: #042a68;
  min-height: 100vh;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.outer {
  padding: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

input {
  width: 100%;
  height: 20px;
  border: none;
}

button {
  background: #7ba9f2;
  border: none;
  color: #042a68;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  float: right;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #999999;
  cursor: not-allowed;
  pointer-events:none;
}

button:hover {
  background: #ccdfff;
}

span {
  padding: 10px 0px;
  display: inline-block;
  float: left;
}

a {
  color: #999999;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
}

p {
  margin: 0;
}

form {
  padding: 20px 0 70px 0;
}

#message, #loading {
  padding: 20px 0;
  visibility: hidden;
  height: 20px;
}

.unsub, .go-home {
  font-size: 12px;
}
